@import './variable.less';

body {
  font-family: 'Helvetica Neue', 'Microsoft YaHei', Helvetica,
    'Hiragino Sans GB', '黑体', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}

// theme-1
.theme-1 {
  .font-color-base {
    color: @theme-base-color-1;
  }

  .font-color-base-10 {
    color: @theme-base-color-1-10;
  }

  .background-color-base {
    background-color: @theme-base-color-1;
  }

  .boreder-bottom-base {
    border-bottom: 2px solid @theme-base-color-1;
  }

  .background-color-10 {
    background-color: @theme-base-color-1-10;
  }

  .boreder-bottom-10 {
    border-bottom: 2px solid @theme-base-color-1-10;
  }

  .background-color-20 {
    background-color: @theme-base-color-1-20;
  }

  .boreder-bottom-20 {
    border-bottom: 2px solid @theme-base-color-1-20;
  }

  .com-input {
    .com-input__placeholder {
      color: @theme-base-color-1;
    }

    .com-input__box {
      &::-webkit-input-placeholder {
        color: @theme-base-color-1;
      }

      &:-moz-placeholder {
        color: @theme-base-color-1;
      }

      &::-moz-placeholder {
        color: @theme-base-color-1;
      }

      &:-ms-input-placeholder {
        color: @theme-base-color-1;
      }
    }
  }

  .box-add-todo {

  }

  .custom-time {
    .title {
      .background-color-base
    }
  }

  .box-advanced-setting {
    .title {
      .background-color-base
    }
  }

  .nav {
    .background-color-base;
  }

  .box-edit__cell-btn {
    .background-color-base
  }

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12);
  opacity: 0.5;
  color: red;
}

.box-wrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}