@import './variable.less';

body {
  font-family: 'Helvetica Neue', 'Microsoft YaHei', Helvetica,
    'Hiragino Sans GB', '黑体', Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
}

button {
  outline: none;
  border: none;
  padding: 0;
  background: transparent;
}

// theme-1
.theme-1 {
  .font-color-base {
    color: @theme-base-color-1;
  }

  .font-color-base-10 {
    color: @theme-base-color-1-10;
  }

  .background-color-base() {
    background-color: @theme-base-color-1;
  }

  .boreder-bottom-base() {
    border-bottom: 2px solid @theme-base-color-1;
  }

  .background-color-10() {
    background-color: @theme-base-color-1-10;
  }

  .boreder-bottom-10() {
    border-bottom: 2px solid @theme-base-color-1-10;
  }

  .background-color-20() {
    background-color: @theme-base-color-1-20;
  }

  .boreder-bottom-20() {
    border-bottom: 2px solid @theme-base-color-1-20;
  }

  .com-popup__header {
    .background-color-20();
  }

  .com-popup__footer-btn {
    .font-color-base-10();
  }

  .com-input__area {
    border-bottom: 1px solid @theme-base-color-1;
  }

  .com-input__placeholder {
    color: @theme-base-color-1;
  }

  .com-input__box_focus {
    border-bottom: 2px solid @theme-base-color-1-20;
  }

  .com-input__box {
    &::-webkit-input-placeholder {
      color: @theme-base-color-1;
    }

    &:-moz-placeholder {
      color: @theme-base-color-1;
    }

    &::-moz-placeholder {
      color: @theme-base-color-1;
    }

    &:-ms-input-placeholder {
      color: @theme-base-color-1;
    }
  }

  .statistical .data-panel {
    color: @theme-base-color-1-20;

    .focus-chart {
      .filters-inline {
        border-color: @theme-base-color-1-l20;
        color: @theme-base-color-1-l20;
      }

      .custom-radio__inline {
        width: 0;

        &:checked+span {
          background: @theme-base-color-1-l20;
          color: @theme-base-color-1-20;
          font-weight: 600;
        }
      }
    }
  }

  .custom-time {
    .title {
      .background-color-base;
    }
  }

  .box-advanced-setting {
    .title {
      .background-color-base;
    }
  }

  .nav {
    .background-color-base;
  }

  .box-edit .btn {
    .background-color-base;
  }

  .progress-bar__sector {
    fill: @theme-base-color-1;
  }

  .progress-bar__circle-arc {
    fill: @theme-base-color-1;
    stroke: rgb(88, 88, 88);
    stroke-opacity: 0.35;
  }

  .progress-bar__arc {
    fill: none;
    stroke: @theme-base-color-1-l10;
  }

  .box-sort {
    .com-cell {
      border-left: 5px solid;
      border-color: @theme-base-color-1;
    }
  }

  .box-time-reminder {
    .com-popup__header {
      background: @theme-base-color-1;
    }

    .com-cell__hd-title {
      color: @theme-base-color-1;
    }
  }

  .box-add-time-reminder {
    .set-time {
      color: @theme-base-color-1-10;
    }
  }

  .todo-music-default {
    background: @theme-base-color-1;
  }

  .statistical-hd {
    background: @theme-base-color-1;
  }

  .settings-list-head {
    color: @theme-base-color-1-20;
  }

  .settings-list-item {
    .current-theme-color {
      background: @theme-base-color-1;
    }

    .com-cell__bd-inner {
      color: @theme-base-color-1-20;
    }
  }

  .list-item_no-background {
    .right {
      background: @theme-base-color-1;
    }
  }

  .page-statistics {
    background-image: linear-gradient(to bottom, @theme-base-color-1, #fff);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12);
  opacity: 0.5;
  color: red;
}

.box-wrap {
  .fixed-full-screen();
}


.box-wrap::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.drop-list_simple {
  text-align: left;
  color: white;

  li {
    line-height: normal;
    padding: 10px 20px;
    background-color: rgb(43, 43, 43);

    &:not(:first-child) {
      margin-top: 1px;
    }
  }
}

.drop-list_white {
  text-align: left;
  background-color: white;
  box-shadow: 0 0 2px 1px rgb(223, 223, 223);
  font-size: 12px;


  li {
    line-height: normal;
    padding: 10px 20px;

    &:not(:first-child) {
      margin-top: 1px;
    }
  }
}

.drop-list_right {
  position: fixed;
  right: 0;
  width: 40%;
}

.com-input__purple {
  .com-input__placeholder {
    color: @gray-l;
    letter-spacing: 1px;
  }

  .com-input__area {
    border-bottom: 1px solid darken(@gray-l, 10%);
  }

  .com-input__box_focus {
    border-bottom: 2px solid rgb(51, 21, 160);
  }
}

.box-set-settings,
.box-set-loop,
.box-edit-duration,
.box-custom-pause-duration,
.box-modify-nickname,
.box-modify-signature {
  .com-popup__content {
    font-size: 15px;
    padding: 15px 20px 5px;
  }

  .com-input__purple();

  .com-popup__footer {
    padding: 0 30px;
    text-align: right;
  }

  .com-popup__footer-btn {
    font-size: 12px;
    width: 23%;
    color: black;
    margin-left: 12px;
  }

  .com-popup__footer-btn_w-auto {
    width: auto;
  }

  .com-input:first-child {
    margin-bottom: 25px;
  }

  .set-setting-checkbox {
    margin-right: 20px;
  }

  .tip-setting {
    .scale-font(0.7);
    white-space: nowrap;
  }
}



.main {
  box-sizing: border-box;
  height: calc(100% - 112px);
  overflow-y: scroll;
}

.main-page {
  transition: transform 0.3s ease;
}

.right-page {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  // right: -100%;
  z-index: 3000;
  background: white;
  // transition: right 0.3s ease;
}


.right-page.statistical {
  position: fixed;
  overflow: scroll;
}

.right-page.statistical-data {
  width: 100%;
  box-sizing: border-box;
}

.right-page-in {
  right: 0;
}

.right-page-out {
  animation: page-in 0.3s ease reverse;
}

.settings-list {
  background: white;

  .settings-list-head {
    font-size: 24px;
    font-weight: 600;
    padding: 15px 22px 5px;
  }

  .current-theme-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50% 50%;
  }

  .settings-list-item {
    border-bottom: 1px solid rgb(245, 245, 245);

    .com-cell__hd-title {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .com-cell__hd-lable {
    font-size: 12px;
    transform: scale(1);
    margin-top: 8px;
  }

  .com-cell__bd-text {
    font-size: 16px;
    font-weight: 600;
  }

  .custom-radio__text {
    padding: 0;
  }
}

.settings-list:not(:last-child) {
  margin-bottom: 5px;
}

.custom-enable-btn {
  display: inline-block;
  width: 34px;
  height: 13px;
  border-radius: 8px;
  background: rgb(185, 185, 185);
  white-space: nowrap;
  position: relative;

  .dot {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50% 50%;
    background: rgb(235, 235, 235);
    box-shadow: 0 1px 0px 0.5px rgb(219, 219, 219);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.1s ease;
  }
}

.custom-enable {
  .com-checkbox__inner {
    width: 0;
  }

  .com-checkbox__inner:checked+span {
    .custom-enable-btn {
      background: rgb(158, 229, 233);
    }

    .dot {
      background: rgb(7, 151, 120);
      left: 13px;
    }
  }
}

.box-set-music {
  .com-popup {
    width: 4rem;
  }

  .com-popup__content {
    padding: 0;
    text-align: center;
  }

  .custom-radio {
    padding: 12px 0;
  }

  .custom-radio__text {
    font-size: 14px;
    color: white;
  }

  .custom-radio__icon {
    display: none;
  }
}

.tip-text {
  color: gray;
  font-size: 10px;
  ;
}

.tip-text_dark {
  color: rgb(77, 77, 77);
  ;
}

.lightblue {
  color: rgb(75, 160, 189);
}

.pink {
  color: rgb(255, 92, 119);
  ;
}

.orange {
  color: orange;
}

.text-red {
  color: rgb(189, 0, 0);
}


.label-tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background: rgb(238, 201, 201);
  color: rgb(173, 11, 11);
  font-size: 10px;
}

.label-tag_purple {
  background: rgb(206, 185, 223);
  color: black;
}

input:disabled,
textarea:disabled {
  background-color: white;
  color: black;
}

.have-completed {
  text-decoration: line-through;
}


.popup-enter-active {
  animation: slide 0.3s ease;
}

.popup-leave-active {
  animation: slide 0.3s ease reverse;
}

.fade.popup-enter-active {
  animation: fade 0.15s ease-out;
}

.fade.popup-leave-active {
  animation: fade 0.15s ease-out reverse;
}

.ani-fade-enter-active {
  animation: fade 0.15s ease-out;
}

.ani-fade-leave-active {
  animation: fade 0.15s ease-out reverse;
}

.shadow_fade-enter {
  opacity: 0;
}

.shadow_fade-enter-active {
  transition: opacity 0.6s linear 2s;
}

.shadow_fade-leave-active {
  transition: none;
}

@keyframes slide {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@font-face {
  font-family: 'electronic-clock';
  src: url('../assets/font/electronic_clock.ttf');
}