@import './variable.less';
@import './theme.less';

body {
  font-family: 'Helvetica Neue', 'Microsoft YaHei', Helvetica,
    'Hiragino Sans GB', '黑体', Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 0 auto;
  word-wrap: break-word;
}

.nav,
.tab-bar,
body {
  max-width: 700px;
}

button {
  outline: none;
  border: none;
  padding: 0;
  background: transparent;
}


.cm-list-item {
  padding: 8px 8px 8px 15px;
  background-color: rgb(49, 159, 202);
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px @gray;
  font-size: 12px;
  .flex(@justify-content: space-between);

  .left {
    .flex(@flex-direction: column; @justify-content: space-between; );
    max-width: 4.2rem;

    .hd {
      font-size: 13px;
    }

    .bd {
      margin-top: 10px;
      font-size: 12px;
      opacity: 0.8;
      line-height: 14px;
      word-wrap: break-word;
    }

    .ft {
      margin-top: 10px;
    }

    .right {
      flex: none;
    }
  }

  .right {
    text-align: right;
    .flex(@justify-content: space-between; @flex-direction: column);
    flex-shrink: 0;

    .hd-description {
      max-width: 1.6rem;
      word-wrap: break-word;
    }

    .ft {
      margin-top: 10px;
    }
  }

  .progress-bar-circle {
    display: inline-block;
  }

  .progress-bar__sector {
    display: none;
  }

  .progress-bar__text {
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12);
  opacity: 0.5;
  color: red;
}

.box-wrap {
  .fixed-full-screen();
}


.box-wrap::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.drop-list_simple {
  text-align: left;
  color: white;
  .scale-font(0.9;center;center;);

  li {
    line-height: normal;
    padding: 10px 20px;
    background-color: rgb(43, 43, 43);

    &:not(:first-child) {
      margin-top: 1px;
    }
  }
}

.drop-list_white {
  text-align: left;
  background-color: white;
  box-shadow: 0 0 2px 1px rgb(223, 223, 223);
  font-size: 12px;


  li {
    line-height: normal;
    padding: 10px 20px;

    &:not(:first-child) {
      margin-top: 1px;
    }
  }
}

.drop-list_right {
  position: fixed;
  right: 0;
  width: 40%;
}

.com-input__purple {
  .com-input__placeholder {
    color: @gray-l;
    letter-spacing: 1px;
  }

  .com-input__area {
    border-bottom: 1px solid darken(@gray-l, 10%);
  }

  .com-input__box_focus {
    border-bottom: 2px solid rgb(51, 21, 160);
  }
}

.box-set-settings,
.box-set-loop,
.box-edit-duration,
.box-custom-pause-duration,
.box-modify-nickname,
.box-modify-signature,
.box-input-quantifier {
  .com-popup__content {
    font-size: 15px;
    padding: 15px 20px 5px;
  }

  .com-input__purple();

  .com-popup__footer {
    padding: 0 30px;
    text-align: right;
  }

  .com-popup__footer-btn {
    font-size: 12px;
    width: 23%;
    color: black;
    margin-left: 12px;
  }

  .com-popup__footer-btn_w-auto {
    width: auto;
  }

  .com-input:first-child {
    margin-bottom: 25px;
  }

  .set-setting-checkbox {
    margin-right: 20px;
  }

  .tip-setting {
    .scale-font(0.7);
    white-space: nowrap;
  }
}

.main {
  box-sizing: border-box;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: calc(100% - 112px);
  overflow-y: scroll;
  overflow-x: hidden;
  .scroll-hide-bar()
}

.main-page {
  transition: transform 0.3s ease;
}

.sub-main {
  box-sizing: border-box;
  height: calc(100% - 56px);
  overflow-y: scroll;
  .scroll-hide-bar()
}


.settings-list {
  background: white;

  .settings-list-head {
    font-size: 24px;
    font-weight: 600;
    padding: 15px 22px 5px;
  }

  .current-theme-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50% 50%;
  }

  .settings-list-item {
    border-bottom: 1px solid rgb(245, 245, 245);

    .com-cell__hd-title {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .com-cell__hd-lable {
    font-size: 12px;
    transform: scale(1);
    margin-top: 8px;
  }

  .com-cell__bd-text {
    font-size: 16px;
    font-weight: 600;
  }

  .custom-radio__text {
    padding: 0;
  }
}

.settings-list:not(:last-child) {
  margin-bottom: 5px;
}

.custom-enable-btn {
  display: inline-block;
  width: 34px;
  height: 13px;
  border-radius: 8px;
  background: rgb(185, 185, 185);
  white-space: nowrap;
  position: relative;

  .dot {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50% 50%;
    background: rgb(235, 235, 235);
    box-shadow: 0 1px 0px 0.5px rgb(219, 219, 219);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.1s ease;
  }
}

.custom-enable {
  .com-checkbox__inner {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .com-checkbox__inner:checked+span {
    .custom-enable-btn {
      background: rgb(158, 229, 233);
    }

    .dot {
      background: rgb(7, 151, 120);
      left: 0.26rem;
    }
  }
}

.box-set-music {
  .com-popup {
    width: 4rem;
  }

  .com-popup__content {
    padding: 0;
    text-align: center;
  }

  .custom-radio {
    padding: 12px 0;
  }

  .custom-radio__text {
    font-size: 14px;
    color: white;
  }

  .custom-radio__icon {
    display: none;
  }
}

.scroll-hide-bar {
  .scroll-hide-bar()
}

.tip-text {
  color: gray;
  .scale-font(0.9);
  line-height: 1.5;
}

.tip-text_dark {
  color: rgb(77, 77, 77);
}

.lightblue {
  color: rgb(75, 160, 189);
}

.pink {
  color: rgb(255, 92, 119);
}

.orange {
  color: orange;
}

.text-red {
  color: rgb(189, 0, 0);
}

.line-through {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
  background: black;
  box-shadow: 0 0 5px rgb(77, 77, 77);
}


.label-tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background: rgb(238, 201, 201);
  color: rgb(173, 11, 11);
  font-size: 12px;
}

.label-tag_purple {
  background: rgb(206, 185, 223);
  color: black;
}

.background-shadow {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  left: 0;
}

// 图片中心居于父元素中心，宽度等于父元素宽度
// 高度超出时会隐藏，不足时会拉伸
// 实际应该判断图片和父元素各自的宽高比，图片高度占比大于父元素高度占比时采用
.img-fit-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center center;
  transform: translate(-50%,-50%);
  width: 100%;
  min-height: 100%;
}

input:disabled,
textarea:disabled {
  background-color: white;
  color: black;
}

.have-completed {
  text-decoration: line-through;
}


.popup-enter-active {
  animation: slide 0.3s ease;
}

.popup-leave-active {
  animation: slide 0.3s ease reverse;
}

.fade.popup-enter-active {
  animation: fade 0.15s ease-out;
}

.fade.popup-leave-active {
  animation: fade 0.15s ease-out reverse;
}

.ani-fade-enter-active {
  animation: fade 0.15s ease-out;
}

.ani-fade-leave-active {
  animation: fade 0.15s ease-out reverse;
}

.shadow_fade-enter {
  opacity: 0;
}

.shadow_fade-enter-active {
  transition: opacity 0.6s linear 2s;
}

.shadow_fade-leave-active {
  transition: none;
}

@keyframes slide {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@font-face {
  font-family: 'electronic-clock';
  src: url('../assets/font/electronic_clock.ttf');
}