// flex布局
.flex(@flex-direction: initial; @flex-wrap: initial; @justify-content: initial; @align-items: initial) {
  display: flex;
  flex-direction: @flex-direction;
  flex-wrap: @flex-wrap;
  justify-content: @justify-content;
  align-items: @align-items;
}

//绝对定位居中
.center-position() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

//缩小字体
.scale(@n;@x:left;@y:center) {
  font-size: 10px;
  transform: scale(@n);
  transform-origin: @x @y;
}

.fixed-full-screen() {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}