// theme-color
@theme-base-color-1: #6acfac;
@theme-base-color-1-10: #5caf92;
@theme-base-color-1-20: #4c947b;
@theme-base-color-1-l10: #76ecc3;
@theme-base-color-1-l20: #b3d8ca;

@theme-base-color-2: #37A5E5;
@theme-base-color-2-10: #338bbe;
@theme-base-color-2-20: #2776a3;
@theme-base-color-2-l10: #43abe7;
@theme-base-color-2-l20: #8abfdd;

@theme-base-color-3: #FAA3C1;
@theme-base-color-3-10: #cf89a1;
@theme-base-color-3-20: #ac667e;
@theme-base-color-3-l10: #ff88b1;
@theme-base-color-3-l20: #d8a8b9;

@theme-base-color-4: #78C9C2;
@theme-base-color-4-10: #54b4ac;
@theme-base-color-4-20: #34928a;
@theme-base-color-4-l10: #5fdacf;
@theme-base-color-4-l20: #a6d8d4;


//color
@gray: rgb(90, 90, 90);
@gray-d:#6b6b6b;
@gray-l:#b6b6b6;
@gray-l-p:#d8d8d8;
@gray-l-m:rgb(235, 235, 235);